/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Common
--------------------------------*/
.section-text{
  @media (min-width: 768px){
     padding: 0;
  }
}

.section-title {
  font-size: 25px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-align: left;
}

.section-description {
  text-align: center;
  margin-bottom: 30px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 0 20px 0;
  width: 195px;
}

.section-space-divider {
  height: 70px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #eee;
  padding: 70px 0;

  .about-image{
    background: url(../img/uber-mich-img.jpg) left top no-repeat;
    box-shadow: -25px 25px 0px $color2;
    border: 2px solid #fff;
    background-size: cover;
    position: absolute;
    margin-left: 40px;
    margin-bottom: 25px;
    top: 0;
    bottom: 0;
    @media (min-width : 1200px) {
      width: 21%;
    }
  }

  .about-container {
    background-size: contain;
    position: relative;
    min-height: 250px;
  }

  .about-content{
    @media (max-width : 768px) {
      margin: 0 15px;
    }
  }

  .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  .col-md-3--about-button{
    padding: 15px;
  }

  .about-button{
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 25px 0;
    border: 1px solid;
    border-color: $color2;
    border-radius: 2px;
    background: $color2;
    color: #eee;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s ease;
    transition-property: border-color,background-color,color;
    @media (max-width : 1200px) {
      padding: 12px 0;
    }
  }

  .about-button:after{
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    left: 0;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .about-button:hover:after,
  .about-button.hover:after {
    top: 0;
    bottom: 0;
  }

  .u-cta{
    border-bottom-color: rgba(0,0,0,0.2);
    border-bottom-width: 3px;
  }

  p,strong{
    display: block;
    margin-bottom: 10px;
    line-height: 26px;
    &:last-child {
      margin-bottom: 0px;
    }
  }

  h4{
    font-weight: 700;
    margin: 0;
  }

}

/* Services Section
--------------------------------*/
#services {
  background-color: #fff;
  padding: 70px 0 100px 0;
  @media (min-width: 1200px){
     background: url("../img/sanvitech-logo-background-service.jpg") fixed center center;
     background-size: cover;
  }

  a:hover, a:active, a:focus {
    color: #eee;
    transition: none;
  }

  .services-section-title{
    text-align: left;
  }

  .service-img {
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -3px 3px 8px #ccc;
    border: 2px solid #fff;
    margin: 0 30px;
    height: 200px;
  }
  .service-img1{
    background-image: url(../img/service-bolzen.jpg);
        background-size: cover;
  }
  .service-img2 {
    background-image: url(../img/service-bad.jpg);
    background-position: left;
        background-size: cover;
  }
  .service-img3{
    background-image: url(../img/service-duschkopf.jpg);
    background-size: cover;
  }
  .service-img4{
    background-image: url(../img/service-waschmaschine.jpg);
    background-size: cover;
  }
  .service-text {
    padding: 0;
    margin:0 30px;
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 30px;
    }
    i{
      display: block;
      margin-left: 12px;
    }
    p,strong{
      display: block;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .panel--service-text{
    padding: 15px;
    box-shadow: none;
    border-color: #bbddf0;
  }

  .panel--collapse{
    border-color: #bbddf0;
  }

  .collapse-container{
    padding: 0;
  }
  .panel-heading{
    background-color: $color1;
    color: #eee;
  }
  .panel,.panel-group,.panel-heading{
    border-radius: 0;
  }

}

/* CTA-Button Section
--------------------------------*/
#cta-button{
  background-color: #78a1cb;
  padding: 15px 0;

  .button{
    text-align: center;
    display: inline-block;
    margin: 0;
    min-width: 100px;
    padding: 12px 0px;
    border: 1px solid;
    border-color: $color2;
    border-radius: 2px;
    background: $color2;
    color: #eee;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s ease;
    transition-property: border-color,background-color,color;
  }

  .button:after{
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    left: 0;
    border-radius: inherit;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .button:hover:after,
  .button.hover:after {
    top: 0;
    bottom: 0;
  }

  .u-cta{
    border-bottom-color: rgba(0,0,0,0.2);
    border-bottom-width: 3px;
  }
  h4{
    font-weight: 700;
    margin: 0;
  }

}


/* Portfolio Section -- Referenz
--------------------------------*/
#portfolio {
  background: #eee;
  padding: 100px 0 70px 0;
  @media (min-width: 1200px){
     background: url("../img/sanvitech-logo-background-portfolio.jpg") fixed center center;
     background-size: cover;
  }

  .col__diy-slideshow{
    padding: 0;
  }


  .diy-slideshow{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 30px;
    @media (min-width: 768px){
      margin: 0 15px;
    }
  }

  figure{
    position: absolute;
    opacity: 0;
    transition: 1s opacity;

    p,strong {
      display: block;
      margin-bottom: 15px;
      line-height: 26px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    img{
      width: 100%;
      display: none;
      height: 160px;
      margin: 0 auto;
      @media (min-width: 320px){
        height: 160px;
        display: block;
      }
      @media (min-width: 400px){
        height: 205px;
      }
      @media (min-width: 480px){
        height: 250px;
      }
      @media (min-width: 625px){
        height: 332px;
      }
      @media (min-width: 768px){
        height: 403px;
      }
      @media (min-width: 992px){
        height: 435px;
      }
      @media (min-width: 1200px){
        height: 530px;
      }
    }
    .img-wrapper{
      border: 2px solid #fff;
      box-shadow: -3px 3px 8px #ccc;
    }

    .img-wrapper:before{
      content: "Für mehr Referenzen, klick auf die Pfeile.";
      background-color: rgba(38, 105, 176, 0.93);
      transition: .5s;
      opacity: 0;
      color: #fff;
      position: absolute;
      text-align: center;
      vertical-align: middle;
      display: none;
      width: 100%;
      top: 0;
      left: 0;
      @media (min-width: 320px){
        height: 164px;
        display: block;
      }
      @media (min-width: 400px){
        height: 209px;
      }
      @media (min-width: 480px){
        height: 254px;
      }
      @media (min-width: 625px){
        height: 336px;
      }
      @media (min-width: 768px){
        height: 407px;
      }
      @media (min-width: 992px){
        height: 439px;
      }
      @media (min-width: 1200px){
        height: 534px;
      }
    }


    .img-wrapper:hover:before{
      opacity: 1;
    }
  }


  figure.show{
    opacity: 1;
    position: static;
    transition: 1s opacity;
  }


  .next, .prev{
    color: #fff;
    margin-top: 25%;
    position: absolute;
    background: rgba(39, 153, 214, 0.7);
    top: 0;
    z-index: 1;
    font-size: 2em;
    user-select: none;
    display: none;
    @media (min-width: 320px){
      margin-top: 18%;
      display: block;
    }
    @media (min-width: 480px){
      margin-top: 22%;
    }
    @media (min-width: 768px){
      margin-top: 25%;
    }
  }

  .next:hover, .prev:hover{
    cursor: pointer;
    opacity: 1;
  }

  .next{
    right: 2px;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .prev{
    left: 2px;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .panel--referenz{
    margin-top: 30px;
    padding: 15px;
    border-color: #ccc;
    box-shadow: none;
    border-radius: 0;
    background-color: inherit;
    border-color: #bbddf0;
  }
}

/* Association Section
--------------------------------*/
#association{
  background-color: #ddd;
  padding: 15px 0;
  img{
    margin-right: 20px;
    padding: 5px;
    width: 120px;
    @media (min-width: 480px){
      margin-right: 100px;
    }
    @media (min-width: 768px){
      width: 150px;
    }
  }
}



/* Contact Section
--------------------------------*/
#contact {
  list-style: none;
  background: $color1;
  padding: 70px 0;
  color: #fff;

  h3{
    color: #eee;
  }

  img{
    width: 100%;
  }

  li{
    font-size: 17.5px;
  }

  a:hover {
    color: $color2;
  }
  a:active, a:focus {
    color: #eee;
  }

  .section-title-divider{
    width: 100%;
    background-color: $color2;
  }

  .contact-nav {
    font-weight: 900;
    margin-bottom: 20px;
    padding:10px 0;
    @media (max-width: 480px){
      margin-left: 15px;
      width: 100%;
    }
  }

  .contact-info{
    margin-bottom: 20px;
    padding:10px 0;
    @media (max-width: 480px){
      margin-left: 15px;
      width: 100%;
    }
  }

  .contact-info li:first-child{
    font-weight: 900;
    font-size: 20px;
  }

  .contact-map{
    padding:0;
  }
  #map{
    width: 100%;
    height: 160px;
    border: 2px solid #fff;
  }
}
