/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Common
--------------------------------*/
.section-text{
  @media (min-width: 768px){
     padding: 0;
  }
}

.section-title {
  font-size: 25px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-align: left;
}

.section-description {
  text-align: center;
  margin-bottom: 30px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 0 20px 0;
  width: 195px;
}

.section-space-divider {
  height: 70px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #eee;
  padding: 70px 0;

  .about-image{
    background: url(../img/uber-mich-img.jpg) left top no-repeat;
    box-shadow: -3px 3px 8px #ccc;
    background-size: cover;
    position: absolute;
    margin-left: 15px;
    top: 0;
    bottom: 0;

    @media (max-width: 1200px){
       width: 30%;
    }
  }

  .about-container {
    background-size: contain;
    position: relative;
    min-height: 380px;
  }

  .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  .about-text {
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}

/* Services Section
--------------------------------*/
#services {
  background: url("../img/sanvitech-logo-background.jpg") fixed center center;
  background-color: #fff;
  background-size: cover;
  padding: 70px 0 60px 0;

  .services-section-title{
    text-align: left;
  }

  .service-img {
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -3px 3px 8px #eee;
    margin: 0 15px;
    height: 200px;
  }
  .service-img1{
    background-image: url(../img/neubau-img3.jpg);
  }
  .service-img2 {
    background-image: url(../img/umbau-img3.jpg);
    background-position: left;
  }
  .service-img3{
    background-image: url(../img/service-img3.jpg);
  }
  .service-img4{
    background-image: url(../img/neubau-img1.jpg);
  }
  .service-text {
    margin-left: 20px;
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 30px;
    }
    i{
      display: block;
      margin-left: 12px;
    }
    p,strong{
      display: block;
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }

}


/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #eee;
  padding: 70px 0;


  .diy-slideshow{
    position: relative;
    display: block;
    overflow: hidden;
  }

  figure{
    position: absolute;
    opacity: 0;
    transition: 1s opacity;

    p {
      line-height: 26px;
      margin-top: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    img{
      width: 100%;
      height: 500px;
      display: block;
      margin: 0 auto;
    }

    .img-wrapper:before{
      content: "Für mehr Referenzen, klick auf die Pfeile.";
      background-color: rgba(38, 105, 176, 0.93);
      transition: .5s;
      opacity: 0;
      color: #fff;
      position: absolute;
      text-align: center;
      vertical-align: middle;
      display: block;
      width: 100%;
      height: 500px;
      top: 0;
      left: 0;
    }


    .img-wrapper:hover:before{
      opacity: 1;
    }
  }


  figure.show{
    opacity: 1;
    position: static;
    transition: 1s opacity;
  }


  .next, .prev{
    margin-top: 220px;
    color: #fff;
    position: absolute;
    background: rgba(39, 153, 214, 0.7);
    top: 0;
    z-index: 1;
    font-size: 2em;
    user-select: none;
  }

  .next:hover, .prev:hover{
    cursor: pointer;
    opacity: 1;
  }

  .next{
    right: 0;
    padding: 10px 5px 15px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .prev{
    left: 0;
    padding: 10px 10px 15px 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}



/* Contact Section
--------------------------------*/
#contact {
  list-style: none;
  background: $color1;
  padding: 70px 0;
  color: #fff;

  h3{
    color: #eee;
  }

  img{
    width: 100%;
  }

  li{
    font-size: 17.5px;
  }

  a:hover {
    color: $color2;
  }
  a:active, a:focus {
    color: #eee;
  }

  .section-title-divider{
    width: 100%;
    background-color: $color2;
  }

  .contact-nav {
    padding-left: 0;
  }

  .contact-nav {
    font-weight: 900;
  }

  .contact-info li:first-child{
    font-weight: 900;
    font-size: 20px;
  }

  .contact-map{
    padding-right: 0;
  }
}
