---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sanvitech - Ihr persönlicher Sanitär</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta content="Sanitär, Neubau, Umbau, Service" name="keywords">
  <meta content="Die Sanvitech ist Ihr Ansprechpartner bei der Beratung,
  Planung und Ausführung von Neubauten, Umbauten, Reparaturen
  und Servicearbeiten. Mehr." name="description">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link rel="apple-touch-icon-precomposed" sizes="310x310" href="assets/ico/favicon-310.png">
  <link rel="apple-touch-icon-precomposed" sizes="150x150" href="assets/ico/favicon-150.png">
  <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/ico/favicon-96.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/favicon-72.png">
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="assets/ico/favicon-32.png">
  <link rel="shortcut icon" href="assets/ico/favicon.ico">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="lib/vegas-slide/vegas.css">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" media="screen" rel="stylesheet">
  <link rel="stylesheet" media="print" href="/css/print.css">
</head>
<body>

{{content}}

  <!-- Required JavaScript Libraries -->
  <script sc="lib/prefix-free/prefixfree.min" ></script>
  <script src="lib/jquery/jquery.min.js" media="screen"></script>
  <script src="lib/jquery-plugin/jquery.touchSwipe.min.js" media="screen"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js" media="screen"></script>
  <script src="lib/superfish/hoverIntent.js" media="screen"></script>
  <script src="lib/superfish/superfish.min.js" media="screen"></script>
  <script src="lib/morphext/morphext.min.js" media="screen"></script>
  <script src="lib/wow/wow.min.js" media="screen"></script>
  <script src="lib/stickyjs/sticky.js" media="screen"></script>
  <script src="lib/easing/easing.js" media="screen"></script>
  <script src="lib/vegas-slide/vegas.js" media="screen"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdxwcK7LiM5eGWqO9qpOSkLQbs-4ujl4&callback=initMap">
  </script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>




</body>
</html>
